.attachments {
  &__quote {
    &--no-icon {
      min-height: 41px;
    }
  }
}

@include mobile {
  .attachments {
    @include clearfix;
    margin-top: 20px;
    max-width: none;

    &__pdf, &__quote {
      float: left;
      height: 70px;
      overflow: hidden;
      position: relative;
      width: 40%;
      width: calc(50% - 10px);

      &:nth-child(even) {
        margin-left: 20px;
      }
    }

    &__caption {
      margin: 0 !important;
      position: absolute;
      top: 50%;
      @include transform( translateY(-50%) );

      a, p {
        line-height: 20px !important;
        margin: 0 !important;
        max-width: 100% !important;
      }

      .attachments__pdf & {
        left: 50px;
        width: calc(100% - 60px) !important;
      }

      .attachments__quote & {
        left: 20px;
        right: 10px;
      }
    }

    &__icon {
      background-size: 30px auto !important;
      height: 30px !important;
      left: 10px;
      position: absolute;
      top: 50%;
      @include transform( translateY(-50%) );
      width: 30px !important;
    }
  }
}

#attachments {
  @include mobile {
    margin-left: 0;
    .requestlink  {
      min-height: 50px;
      .icon {
        display: none;
      }
      .caption a {
        margin-top: 0;
        line-height: 50px;
      }
    }
  }
}

@media screen and (max-width: 545px) {
  .attachments {
    &__pdf, &__quote {
      height: 90px;
    }
  }
}

@media screen and (max-width: 500px) {
  .attachments {
    &__pdf, &__quote {
      height: 130px;
    }
  }
}

@media screen and (max-width: 415px) {
  .attachments {
    &__pdf, &__quote {
      float: none;
      height: 70px;
      width: auto;

      &:nth-child(even) {
        margin-left: 0;
      }
    }

    &:after {
      clear: none;
      display: none;
    }
  }
}
