// style all subpages of contact us
// because going to /contact-us redirects to children for some reasonI
.contact-address {
  position: absolute;
  top: 300px;
  margin-left: 35px;

  @include mobile {
    margin: 20px 0 0 0;
    position: static;
  }
}

.contact-tabs {
  @include mobile {
    padding-top: 8px !important;

    .span3 {
      margin-left: 0;
    }
  }
}

body.page-id-12, body.parent-pageid-12   {
  @include mobile {
    #tabs {
      padding-top: 8px;
      .span3 {
        position: relative !important;
        top: 0 !important;
        margin-left: 0 !important;
      }
    }
    .entry-title {
      color: transparent;
      position: relative;
      &:after {
        content: "Contact Us";
        color: black;
        @include position(absolute, 0 0 null 0);
      }
    }
  };
}
