#tech-info-form-container.form {
  @include mobile {
    width: 100%;
    padding: 0 10px;
  }
}

#media-library-request-brochure-container {
  max-width: 620px;
  left: 0;
  right: 0;
  margin: 0 auto;
  @include mobile {
    min-width: 0;
  }
}

form.w2llead .form-item {
  @include mobile {
    width: 100%;
  }
}

form #requiredfieldsmsg {
  @include mobile {
    @include position(relative, 0 initial initial 0);
  }
}

.w2linput {
  &.text {
    @include mobile {
      height: 30px;
    }
  }
}