.mobile-language {
  display: none;

  @include header_mobile {
    background: #000000;
    display: block;
    padding: 0 10px;

    &__list {

      #lang_sel_list {
        width: 100%;

        ul {
          border: none;

          li {
            margin-right: 20px !important;
            width: auto;

            a {
              background: transparent;
              border: none;
              color: #f7eb14 !important;
              display: block;
              font-size: 12px;
              height: 26px;
              line-height: 26px;
              margin: 0;
              padding: 0;
              text-decoration: underline !important;

              &.lang_sel_sel {
                text-decoration: none !important;

                &:hover {
                  cursor: default;
                }
              }
            }
          }
        }
      }
    }
  }
}
