/**
 *  Mobile Mixin
 *
 *  Styles for widths < tablet
 *  Compiles to @media screen and (max-width: 1024)
 *  @Usage:  @include mixin(tablet)
 *
 */
/**
 *  Header mobile breakpoint
 *  Expanding it to 1024px beacuse of ipads
 */
/**
 *  Tablet Mixin
 *
 *  Styles for widths < tablet and > handheld
 *  Compiles to @media screen and (max-width: 1024)
 *  @Usage:  @include mixin(tablet)
 *
 */
@media screen and (max-width: 58.75em) {
  html, body {
    width: 100%; }
    html::after, body::after {
      clear: both;
      content: "";
      display: table; }

  .container {
    max-width: 940px;
    width: 100%;
    padding: 0 10px; }

  .block-460 {
    width: 100%;
    max-width: 454px; }

  .span1 {
    width: 100%;
    max-width: 70px; }

  .span2 {
    width: 100%;
    max-width: 170px; }

  .span3 {
    width: 100%;
    max-width: 270px; }

  .span4 {
    width: 100%;
    max-width: 370px; }

  .span5 {
    width: 100%;
    max-width: 470px; }

  .span6 {
    width: 100%;
    max-width: 570px; }

  .span7 {
    width: 100%;
    max-width: 670px; }

  .span8 {
    width: 100%;
    max-width: 770px; }

  .span9 {
    width: 100%;
    max-width: 870px; }

  .span10 {
    width: 100%;
    max-width: 970px; }

  .span11 {
    width: 100%;
    max-width: 1070px; }

  .span12 {
    width: 100%;
    max-width: 1170px; }

  .twocolumns .column {
    width: 100% !important; }
    .twocolumns .column::after {
      clear: both;
      content: "";
      display: table; } }
@media screen and (max-width: 58.75em) {
  #content {
    padding-bottom: 32px; }
    #content::after {
      clear: both;
      content: "";
      display: table; } }

* {
  -webkit-font-smoothing: antialiased; }

/**
 *  nav that appears under titles
 *  @templates news.php
 */
.mobile-selector {
  display: none; }
  @media screen and (max-width: 42.3125em) {
    .mobile-selector {
      display: block; } }
  .mobile-selector p {
    margin: 0; }
  .mobile-selector a {
    margin-right: 4px; }
    .mobile-selector a:after {
      content: "\203A";
      margin-left: 4px; }

body.active-menu {
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto; }

.active-menu {
  overflow: hidden; }

#header .toggle-menu {
  display: none; }
@media screen and (max-width: 64em) {
  #header {
    background-image: url(../img/bg-header-mobile-grey.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 70px; }
    #header > .container {
      width: 100%; }
    #header .container {
      background-image: url(../img/bg-header-mobile.png);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: auto 70px; } }
@media screen and (max-width: 64em) {
  #header {
    border-bottom: 5px solid #000000;
    height: 70px;
    overflow: hidden; }
    #header .container {
      height: 70px; }
    #header .logo {
      margin: 12px 0 0 0;
      width: 110px; }
    #header .toggle-menu {
      background-image: url(../img/menu.png);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 38px 17px;
      display: block;
      height: 17px;
      margin-top: -2px;
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 19px; }
      #header .toggle-menu__text {
        display: none; }
      .active-menu #header .toggle-menu {
        background-position: top right; }
    #header #utilities, #header .clear {
      display: none; } }

#header-menu .emergency-services {
  bottom: -31px; }
#header-menu ul li .sub-menu > li:first-child {
  display: none; }
@media screen and (max-width: 64em) {
  #header-menu {
    background: #3B3B3B;
    background-image: -webkit-linear-gradient( bottom , #0A0A0A 0%, #3B3B3B 100px);
    background-image: linear-gradient(to top, #0A0A0A 0%, #3B3B3B 100px);
    bottom: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 69px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity 0.15s ease-in-out;
    -moz-transition: opacity 0.15s ease-in-out;
    transition: opacity 0.15s ease-in-out;
    width: 100%;
    z-index: 9999; }
    #header-menu .container {
      padding: 0;
      width: 100%; }
    #header-menu #main-menu .emergency-services {
      background-image: -webkit-linear-gradient( top , #858585, #FFFFFF);
      background-image: linear-gradient(to bottom, #858585, #FFFFFF);
      border: none;
      bottom: none;
      height: auto;
      position: static;
      right: none;
      text-align: left;
      width: auto; }
      #header-menu #main-menu .emergency-services a {
        color: #E12727;
        font-size: 2rem;
        line-height: 70px;
        padding: 0 20px; }
    #header-menu #main-menu > ul > li > a:hover {
      color: #FFF000; }
    #header-menu #main-menu ul {
      float: none; }
    #header-menu #main-menu li {
      float: none;
      height: auto;
      padding: 0;
      width: 100%; }
      #header-menu #main-menu li a {
        font-size: 2rem;
        line-height: 70px;
        padding: 0 20px; }
      #header-menu #main-menu li #bridges-sub-menu, #header-menu #main-menu li #services-sub-menu, #header-menu #main-menu li .sub-menu {
        background: none; }
        #header-menu #main-menu li #bridges-sub-menu > li:first-child, #header-menu #main-menu li #services-sub-menu > li:first-child, #header-menu #main-menu li .sub-menu > li:first-child {
          display: inline; }
        #header-menu #main-menu li #bridges-sub-menu a, #header-menu #main-menu li #services-sub-menu a, #header-menu #main-menu li .sub-menu a {
          color: #FFFFFF; }
        #header-menu #main-menu li #bridges-sub-menu div, #header-menu #main-menu li #services-sub-menu div, #header-menu #main-menu li .sub-menu div {
          border: none;
          float: none;
          font-size: 1.875rem;
          margin: 0;
          padding: 0; }
      #header-menu #main-menu li.active-sub-menu > #bridges-sub-menu, #header-menu #main-menu li.active-sub-menu > #services-sub-menu, #header-menu #main-menu li.active-sub-menu > .sub-menu {
        display: block !important;
        position: static; }
    #header-menu #main-menu #headersearch, #header-menu #main-menu .clear {
      display: none; }
    .active-menu #header-menu {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); } }

#header-menu ul li .sub-menu {
  min-width: 940px; }
  #header-menu ul li .sub-menu .sub-menu1 li:first-child {
    display: none; }
    @media screen and (max-width: 64em) {
      #header-menu ul li .sub-menu .sub-menu1 li:first-child {
        display: inline; } }
  @media screen and (max-width: 64em) {
    #header-menu ul li .sub-menu {
      min-width: 100%; } }

.emergency-services li {
  list-style-type: none; }

/*
 *  Adjusting for logo on tablets > 940px and < 1024px
 */
@media screen and (min-width: 58.75em) and (max-width: 64em) {
  #header .logo {
    margin-left: 16px; } }
.active-menu #main-content {
  position: fixed;
  top: 70px;
  right: 0;
  left: 0; }

.active-menu #footer {
  display: none !important; }

/**
 * Map overlay
 */
@media screen and (max-width: 58.75em) {
  .home .fancybox-wrap {
    top: 50% !important;
    -webkit-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important; } }
@media screen and (max-width: 58.75em) {
  .home .fancybox-inner {
    height: auto !important; } }

#map {
  width: 940px;
  overflow-x: hidden;
  /*@include tablet {
    width: auto;

    .uslink:before, .calink:before {
      font-size: rem(64px);
    }
  }*/ }
  #map .acrow-map {
    min-height: 520px; }
  @media screen and (max-width: 58.75em) {
    #map {
      margin: 0 20px;
      width: auto;
    /*tr:nth-child(2) {
      .uslink {
        display: table-cell;
      }

    }

    td {
      padding: 0 20px;
    }

    .uslink, .calink {
      img {
        display: none !important;
      }
    }
    .uslink, .calink {
      min-height: 20px;
      &:before {
        font-size: rem(32px);
      }
      &:before {
        line-height: 1.33;
        color: #FEFD00;
      }
    }
    .uslink {
      display: none;
      &:before {
        content: "United States";
      }
    }
    .calink:before {
      content: "Canada";
    }*/ }
      #map .acrow-map {
        height: 0.55vw !important;
        min-height: 0px; } }

@media screen and (max-width: 58.75em) {
  .block-20 {
    display: none; } }

@media screen and (max-width: 58.75em) {
  .block-220, .block-460 {
    width: 100%; } }
@media screen and (min-width: 42.375em) and (max-width: 58.75em) {
  .block-220, .block-460 {
    width: calc(50% - 30px);
    margin-right: 15px; } }

@media screen and (max-width: 58.75em) {
  .features .feature {
    max-width: 9999px; }
    .features .feature .excerpt {
      display: none !important; }
    .features .feature h2 {
      display: inline !important;
      background: rgba(255, 255, 255, 0.75);
      float: left;
      width: 100%; } }

@media screen and (max-width: 58.75em) {
  #jcycle-slideshow-container {
    height: auto;
    margin-left: -10px;
    width: calc(100% + 20px); } }
@media screen and (max-width: 58.75em) {
  #jcycle-slideshow .container {
    height: auto;
    padding: 0;
    float: left;
    width: 100%; } }
#jcycle-slideshow .image {
  float: left;
  height: auto; }
@media screen and (max-width: 42.3125em) {
  #jcycle-slideshow .description {
    width: 100%;
    left: 0;
    z-index: 2;
    position: static;
    float: left; } }
#jcycle-slideshow .alttext {
  float: left; }
  @media screen and (max-width: 58.75em) {
    #jcycle-slideshow .alttext {
      position: absolute;
      top: 45px;
      right: 0;
      left: initial;
      height: auto;
      font-size: 1.125rem;
      padding: 8px 20px 8px 16px;
      line-height: 1.25;
      width: auto;
      max-height: 62px; } }
  @media screen and (max-width: 42.3125em) {
    #jcycle-slideshow .alttext {
      z-index: 2;
      font-size: 0.75rem;
      max-height: 45px; } }

.footer-menus::after {
  clear: both;
  content: "";
  display: table; }
.footer-menus__half {
  float: left; }
  .footer-menus__half--w360 {
    width: 360px; }
  .footer-menus__half--w560 {
    width: 560px; }
  @media screen and (max-width: 58.75em) {
    .footer-menus__half {
      padding-top: 10px;
      width: 50%; }
      .footer-menus__half--end {
        padding-top: 46px; }
        .footer-menus__half--end::after {
          clear: both;
          content: "";
          display: table; } }
.footer-menus__column {
  float: left;
  width: 105px; }
  .footer-menus__column--about {
    width: 150px; }
  .footer-menus__column--bridges {
    width: 150px; }
  .footer-menus__column--services {
    padding-top: 36px;
    width: 230px; }
  .footer-menus__column--shoring-systems {
    padding-top: 36px;
    width: 180px; }
  @media screen and (max-width: 58.75em) {
    .footer-menus__column {
      float: none;
      padding-top: 0;
      width: auto; }
      .footer-menus__column--about {
        margin: 20px 0; }
        .footer-menus__column--about ul {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          -webkit-column-gap: 0;
          -moz-column-gap: 0;
          column-gap: 0; }
      .footer-menus__column--contact, .footer-menus__column--locations {
        float: left;
        width: 50%; }
        .footer-menus__column--contact .white, .footer-menus__column--locations .white {
          display: none !important; }
      .footer-menus__column .yellow--no-mobile {
        display: none; } }
@media screen and (max-width: 58.75em) {
  .footer-menus a {
    line-height: 32px; } }

.footer-social {
  display: none; }

@media screen and (max-width: 58.75em) {
  #footer .container {
    margin-top: 10px; }
  #footer .white {
    height: 32px; }
    #footer .white a {
      color: #FFFFFF; }

  #footer-address {
    border-top: 1px solid #CCCCCC;
    float: left;
    max-width: none;
    padding: 32px 20px 32px 0;
    width: 50%; }
    #footer-address:before {
      clear: left;
      content: '';
      display: table; }

  .footer-social {
    border-top: 1px solid #CCCCCC;
    display: block;
    float: left;
    padding: 32px 0;
    width: 50%; }
    .footer-social::after {
      clear: both;
      content: "";
      display: table; }
    .footer-social a {
      float: left;
      max-width: 50px;
      width: 33%; }

  #footer-legal {
    margin: 0 0 12px 0;
    text-align: left; }
    #footer-legal span {
      display: block; }
    #footer-legal:before {
      clear: left;
      content: '';
      display: table; } }
@media screen and (max-width: 1140px) {
  #toplink {
    display: none; } }

.menu-item-2560 {
  list-style-type: none; }

@media screen and (max-width: 58.75em) {
  *, *:before, *:after {
    box-sizing: border-box; } }

/*# sourceMappingURL=style.css.map */
