.active-menu {
  overflow: hidden;
}

#header {
  .toggle-menu {
    display: none;
  }

  @include header_mobile {
    background-image: url(../img/bg-header-mobile-grey.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 70px;

    > .container {
      width: 100%;
    }

    .container {
      background-image: url(../img/bg-header-mobile.png);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: auto 70px;
    }
  }

  @include header_mobile {
    border-bottom: 5px solid #000000;
    height: 70px;
    overflow: hidden;

    .container {
      height: 70px;
    }

    .logo {
      margin: 12px 0 0 0;
      width: 110px;
    }

    .toggle-menu {
      background-image: url(../img/menu.png);
      background-position: top left;
      background-repeat: no-repeat;
      background-size: 38px 17px;
      display: block;
      height: 17px;
      margin-top: -2px;
      position: absolute;
      right: 20px;
      top: 50%;
      @include transform( translateY(-50%) );
      width: 19px;

      &__text {
        display: none;
      }

      .active-menu & {
        background-position: top right;
      }
    }

    #utilities, .clear {
      display: none;
    }
  }
}

#header-menu {
  .emergency-services {
    bottom: -31px;
  }

  ul li  {
    .sub-menu{
      > li:first-child {
        display: none;
      }
    }
  }

  @include header_mobile {
    background: #3B3B3B;
    @include background-image( linear-gradient(to top, #0A0A0A 0%, #3B3B3B 100px) );
    bottom: 0;
    opacity: 0;
    overflow: auto;
    position: fixed;
    top: 69px;
    @include transform( scale(0) );
    @include transition( opacity 0.15s ease-in-out );
    width: 100%;
    z-index: 9999;

    .container {
      padding: 0;
      width: 100%;
    }

    #main-menu {
      .emergency-services {
        @include background-image( linear-gradient(to bottom, #858585, #FFFFFF) );
        border: none;
        bottom: none;
        height: auto;
        position: static;
        right: none;
        text-align: left;
        width: auto;

        a {
          color: #E12727;
          font-size: rem(32px);
          line-height: 70px;
          padding: 0 20px;
        }
      }

      > ul > li > a:hover {
        color: #FFF000;
      }

      ul {
        float: none;
      }

      li {
        float: none;
        height: auto;
        padding: 0;
        width: 100%;

        a {
          font-size: rem(32px);
          line-height: 70px;
          padding: 0 20px;
        }


        #bridges-sub-menu, #services-sub-menu, .sub-menu {
          background: none;

          & > li:first-child {
            display: inline;
          }

          a {
            color: #FFFFFF;
          }

          div {
            border: none;
            float: none;
            font-size: rem(30px);
            margin: 0;
            padding: 0;
          }
        }

        &.active-sub-menu {
          > #bridges-sub-menu, > #services-sub-menu, > .sub-menu {
            display: block !important;
            position: static;
          }
        }
      }

      #headersearch, .clear {
        display: none;
      }
    }

    .active-menu & {
      opacity: 1;
      @include transform( scale(1) );
    }
  }
}

#header-menu ul li .sub-menu {
  min-width: 940px;
  .sub-menu1 li:first-child {
    display: none;
    @include header_mobile {
      display: inline;
    }
  }
  @include header_mobile {
    min-width: 100%;
  }
}


.emergency-services li {
  list-style-type: none;
}


/*
 *  Adjusting for logo on tablets > 940px and < 1024px
 */
@media screen and (min-width: em(940px)) and (max-width: em(1024px)) {
  #header .logo  {
    margin-left: 16px;
  }
}

.active-menu #main-content {
  @include position(fixed, 70px 0 null 0);
}

.active-menu #footer {
  display: none !important;
}
