$bootstrap-widths : (
  12: 1170px,
  11: 1070px,
  10: 970px,
  9: 870px,
  8: 770px,
  7: 670px,
  6: 570px,
  5: 470px,
  4: 370px,
  3: 270px,
  2: 170px,
  1: 70px
);

@include mobile {

  html,body {
    width: 100%;
    @include clearfix;
  }

  .container {
    max-width: 940px;
    width: 100%;
    padding: 0 10px;
  }

  .block-460 {
    width: 100%;
    max-width: 454px;
  }

  @for $i from 1 through 12 {
    .span#{$i} {
      width: 100%;
      max-width: map-get($bootstrap-widths, $i);
    }
  }

  .twocolumns {
    .column {
      width: 100% !important;
      @include clearfix;
    }
  }
}

#content {
  @include mobile {
    @include clearfix;
    padding-bottom: 32px;
  }
}

* {
  -webkit-font-smoothing: antialiased;
}


/**
 *  nav that appears under titles
 *  @templates news.php
 */
.mobile-selector {
  display: none;
  @include mobile_only {
    display: block;
  };
  p {
    margin: 0;
  }
  a {
    margin-right: 4px;
    &:after {
      content: "\203A";
      margin-left: 4px;
    }
  }
}

body.active-menu {
  height: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
